@tailwind base;
  @tailwind components;
  @tailwind utilities;
  

  @layer base {
    .card-glass {
      @apply  before:content-['']
      before:absolute
      before:z-[-2]
      before:inset-0
      before:block
    } 

  }